body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1em;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #ffcccc;
    border: 1px solid #ff9999;
}


.error {

    color: red;
  
  }

  .inline-form {

    display: inline;

}